{% extends 'base.html' %}
{% block content %}
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<h1>{% block title %} Student Results {% endblock %}</h1>
<table>
    <tr>
        <td>Student</td>
    </tr>
    {% for student in students %}
        <tr class='post'>
            {% for cell in student %}
            
            <td>{{ cell }}</td>

            {% endfor %}
        
    {% endfor %}
        </tr>
    </table>
    <table>
        <tr>
            <td>Quiz Subject</td>
            <td>Number of questions</d>
            <td>Date of Quiz</td>
            <td>Grades</td>
        </tr>
    {% for quiz in quizzes %}
        <tr class='post'>
            {% for cell in quiz %}
            
            <td>{{ cell }}</td>

            {% endfor %}
        
    {% endfor %}        
{% endblock %}